---
title: "RESPECT THE GRIND"
layout: splash
author_profile: true
header:
  overlay_image: /photos/coffeebanner01.jpg
  show_overlay_excerpt: true
  cta_label: "About"
  cta_url: "/about/"
excerpt: "Coffee shop reviews for everyone"
intro:  
- excerpt: "Respect the Grind is a blog dedicated to providing simple reviews of coffee shops.  We admire the creativity, community, and craftmanship featured in each individual store. We hope you enjoy our reviews.  Stay caffeinated, friends."
feature_row:
  - image_path: /photos/coffeebanner02.jpg
    title: "Showing our respect to coffee locales.  Check out our reviews here. "
    btn_label: "Explore"
    btn_class: "btn--primary"
    url: "/locations/"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
